 @font-face {
  font-family: SAOWelcomeTTRegular;
  src: url(../assets/fonts/SAO/SAOWelcomeTTRegular.ttf);
}
@font-face {
  font-family: 'BigShouldersDisplay';
  src: url(../assets/fonts/Big_Shoulders/BigShouldersDisplay-Regular.ttf);
}

body {
    min-height: 100vh; 
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    display: flex;          
    flex-direction: column; 
    background: linear-gradient(243deg, #081935 0%, #31255B 72.18%, #65338A 99.99%);
}

.formContainer {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  gap: 4rem;
}

h2{
    margin-top: -4rem;
    color: #fff;
    font-size: 3.5rem;
    font-family: 'BigShouldersDisplay';
    font-weight: 300;
    text-transform: uppercase;
    
}

h2 img{
    width: 60px;
    height: 50px;
    color: #f8f8f8;
}

.decor-line{
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin-top: -2.5rem;
    margin-bottom: 1rem;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-wrapper input {
    width: 500px;
    padding-top: 0.3rem;
    padding-bottom: 0.2rem;
    padding-left: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 6px;
    font-size: 2rem;
    font-family: 'BigShouldersDisplay';
    background:  rgba(217, 217, 217, 0.50);
    color: #141414;
}

input::placeholder{
    color: #141414;
}

.input-wrapper img {
    position: absolute;
    left: 0.5rem;
    width: 30px;
    height: 40px;
}

.header-wrapper {
  display: flex;
  align-items: center; 
  gap: 1vh;
}

.header-wrapper img.header-icon {
  height: 60px;
  object-fit: contain;
  margin-top: -110px; 
}


form {
  display: flex;
  flex-direction: column;
}

.btn-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 1rem; 
    margin-top: 1rem;
}

.btn-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.gradient-btn{
    font-size: 2.25rem ;
    font-family: 'BigShouldersDisplay';
    text-transform: uppercase;
    width: 240px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background: #D9D9D9;
    flex: 1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.gradient-text{
    background: linear-gradient(180deg, #381D5C 0%, #141414 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: transparent;
}

.button-link1{
    background: none;
    border: none;
    color: #141414;
    font-size: 20px;
    font-family: 'BigShouldersDisplay';
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
}

.button-link2{
    background: none;
    border: none;
    color: #141414;
    font-size: 20px;
    font-family: 'BigShouldersDisplay';
    align-self: center;
    text-transform: uppercase;
    text-decoration: none;
}

.button-link1:hover{
    background: none;
    text-decoration: underline;
}

.button-link2:hover{
    background: none;
    text-decoration: underline;
}

button:hover {
    background: #bdbdbd;
}

.leftSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: scale(0.85);
}

.rightSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem;
  padding-right: 15%;
  padding-top: 5rem;
}
.center{
  display:  flex ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imagePlaceholder {
  width: 465px;
  height: 695px;
  border-radius: 50px;
  background: rgba(217, 217, 217, 0.50);
}
.title h1{
  display: flex;
  flex-direction: column;
  justify-content: center;
    color: #fff;
    font-size: 8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 12.8px;
    font-family: 'SAOWelcomeTTRegular';
    text-transform: uppercase;
}

.diamondPattern {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
/* darkmode guziki */
.darkmode-toggle {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.darkmode-toggle img {
  width: 30px;
  height: 30px;
  transition: opacity 0.3s ease;
  position: absolute;
}

.sun-icon {
  opacity: 0;
}

.moon-icon {
  opacity: 1;
}

.darkmode-toggle:hover .sun-icon {
  opacity: 1;
}

.darkmode-toggle:hover .moon-icon {
  opacity: 0;
}

/* Profil */

.userProfile {
    max-width: 100%;
    margin: 2rem 5rem;
    padding: 3rem;
    border-radius: 50px;
    background: rgba(217, 217, 217, 0.50);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255,255,255,0.25);
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.ustawienia,
.profileTodoList img,
.friendsList img,
.weeklyStatistics img,
.monthlyStatistics img {
    filter: brightness(0) saturate(100%) invert(17%) sepia(22%) saturate(900%) hue-rotate(230deg) brightness(90%) contrast(90%);
}

.profileHeader {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 1.2rem 2rem;
}

.profileHeader .left {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.avatar img {
    width: 5rem;
    border-radius: 100%;
}

.username {
    font-size: 2rem;
    color: #2F3147;
    font-family: "BigShouldersDisplay";
    font-weight: 400;
}

.settings {
    display: flex;
    align-items: center;
}

.settings img {
    width: 30px;
    cursor: pointer;
}

.profiledecorline {
    width: 100%;
    height: 2px;
    background-color: #2F3147;
    margin-top: -4rem;
}

.profileColumns {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    width: 100%;
}

.leftColumn {
    display: flex;
    flex-direction: column;
    margin-top: -2.5rem;
}

.centerColumn {
    display: flex;
    flex-direction: column;
    margin-top: -4rem;
}

.rightColumn {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-top: -4rem;
}

.weeklyStatisticsContent,
.monthlyStatisticsContent {
    border: 2px solid #2F3147;
    padding: 1rem;

}

.header-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-wrapper h1 {
    font-size: 3rem;
    color: #2F3147;
    font-family: "BigShouldersDisplay";
    font-weight: 400;
    text-transform: uppercase;
}

#monthlyRankingList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    row-gap: 0.8rem;
}

#monthlyRankingList li {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    font-family: "BigShouldersDisplay";
    color: #2F3147;
    font-size: 1.6rem;
}

#monthlyRankingList li.first-place {
    font-size: 2.4rem;
    font-weight: 700;
    color: #2F3147;
}

#monthlyRankingList li.second-place,
#monthlyRankingList li.third-place {
    font-size: 2rem;
    font-weight: 600;
    color: #2F3147;
}

.profileTodoList {
    padding: 1.5rem;
}

.todoListContent {
    border: 2px solid #2F3147;
    padding: 1rem;
    overflow-y: auto;      
    overflow-x: hidden;    
    scrollbar-width: thin; 
    height: 46.2rem;
}

.taskName {
    width: 80%;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    border: none;
    font-size: 2rem;
    font-family: "BigShouldersDisplay";
    font-weight: 400;
}

.addTask {
  height: 2rem;
  width: 2rem;
  font-family: 'BigShouldersDisplay';
  font-size: 1.5rem;
  border-radius: 50%;
  border: none;
  background: #fff;
  color: #2F3147;
  margin-left: 0.5rem;
}

.addTask:hover {
    transform: scale(1.1);
    background: #fff;
}

.taskList > div {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem 1.2rem;
  margin-bottom: 1rem;
}

.taskList p {
  flex: 1;
  margin: 0;
  font-size: 1.4rem;
  color: #2F3147;
  font-family: "BigShouldersDisplay";
}

.taskList button {
  height: 2rem;
  width: 2rem;
  font-family: 'BigShouldersDisplay';
  font-size: 1.5rem;
  border-radius: 50%;
  border: none;
  background: #fff;
  color: #2F3147;
}

.taskList button:hover {
  color: #2F3147;
  transform: scale(1.2);
}

.taskList input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    border: 2px solid #2F3147;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    background: transparent;
    transition: 0.2s ease;
}

.taskList input[type="checkbox"]:hover {
    border-color: #2F3147;
}

.taskList input[type="checkbox"]:checked {
    background: #2F3147;
    border-color: #2F3147;
}

.taskList input[type="checkbox"]:checked::after {
    content: "✔";
    color: white;
    font-size: 16px;
    position: absolute;
    top: -2px;
    left: 3px;
}

.divider-vertical {
    width: 0.1rem;
    background-color: #2F3147;
    height: 82%;
    margin-top: 9rem;
}

.friendsList {
    padding: 1.5rem;
    height: 100%;
}

.usersFriendsList,
.searchResults,
.invitesList {
    list-style: none;
    padding-left: 0;
    font-size: 3rem;
    color: #2F3147;
    font-family: "BigShouldersDisplay";
    font-weight: 400;
}

.usersFriendsList li,
.searchResults li,
.invitesList li {
    padding: 0.5rem 0;
        font-size: 2rem;
    color: #2F3147;
    font-family: "BigShouldersDisplay";
    font-weight: 400;
}

.usersFriends,
.userInvitesTitle,
.searchTitle {
    list-style: none;
    margin: 0;
    padding: 0;
}
.friendsList ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.friendsList h3 {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    margin: 2rem 0 1rem;
    list-style: none;
    font-size: 2rem;
    color: #2F3147;
    font-family: "BigShouldersDisplay";
    font-weight: 400;
    text-transform: uppercase;
}

.friendsList h3::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #2F3147;
    transition: width 0.25s ease;
}

.friendsList h3:hover::after {
    width: 100%;
}

.userSearch {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.searchTitle {
  font-size: 2rem;
  font-family: "BigShouldersDisplay";
  color: #2F3147;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  margin: 1rem 0 0.5rem;
  padding: 0;
}

.searchTitle::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #2F3147;
  transition: width 0.25s ease;
}

.searchTitle:hover::after {
  width: 100%;
}

#userSearchField {
  width: 100%;
  max-width: 25rem;
  padding: 0.6rem 1rem;
  border-radius: 12px;
  border: none;
  font-size: 1.6rem;
  font-family: "BigShouldersDisplay";
  background: #fff;
  color: #2F3147;
}

#userSearchBtn {
  width: fit-content;
  padding: 0.6rem 1.4rem;
  border-radius: 12px;
  border: none;
  background: #fff;
  color: #2F3147;
  font-size: 1.6rem;
  font-family: "BigShouldersDisplay";
  cursor: pointer;
  transition: 0.2s ease;
    text-transform: uppercase;
}

#userSearchBtn:hover {
  transform: scale(1.05);
  background: #e0e0e0;

}

/* Lista wyników */
.searchResults {
  list-style: none;
  padding-left: 0;
  margin: 0;
  font-size: 1.6rem;
  font-family: "BigShouldersDisplay";
  color: #2F3147;
}


/* Nawigacja */
.navBar {
  width: 100%;
  height: 60px;
  margin-top: 2rem;
}

.navBar-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 5rem;
}

.navBtn {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  font-family: 'BigShouldersDisplay';
  text-transform: uppercase;
}

/* ikony navbara */
.diamond{
  height: 40px;
}
.bigdiamond{
  height: 60px;
}

.nav-lines {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.nav-decor-line {
  width: 90%;
  height: 0.2rem;
  background-color: #ffffff;
  border-radius: 1px;
}

.navBtn {
  position: relative;
  text-decoration: none;
  color: white;
  padding-bottom: 0.5rem;
}

.navBtn.active::after {
  content: "";
  position: absolute;
  bottom: -1.3rem; 
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 0.4rem;
  background-color: #ffffff;
}

/* Minutnik */
.timerContainer{
  margin: 5rem 20%;
  padding: 2rem;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.39);
  }

  .timerInfo{
    font-size: 2rem;
    font-family: 'BigShouldersDisplay';
    text-align: center;
    color: #fff;
    font-style: italic;
  }

.tipContentDiv {
    padding: 1rem 1.5rem;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    font-family: 'BigShouldersDisplay';
    font-style: italic;
    max-width: 40rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: none; 
}

.tipContentText {
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  font-family: 'BigShouldersDisplay';
  color: #ffffff;
  }

.timerControls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.timerControls .topRow,
.timerControls .bottomRow,
.timerControls .timerPresets {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.timerControls button,
.timerPresets button {
  font-size: clamp(1.2rem, 2.5vw, 2rem);
  width: clamp(100px, 20vw, 140px);
  height: clamp(32px, 6vh, 40px);

  font-family: 'BigShouldersDisplay';
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
  background: #D9D9D9;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: transform 0.2s ease, background 0.2s ease, filter 0.2s ease;
}


.timerControls button:active,
.timerPresets button:active {
  transform: scale(0.95);
  background: #c4c4c4;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

.timerControls button:hover,
.timerPresets button:hover {
  transform: scale(1.05);
  background: #e0e0e0;
}

.logoutWrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.logoutBtn {
  background: rgba(255, 255, 255, 0.35);
  border: none;
  border-radius: 100%;
  padding: 0.6rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  transition: 0.2s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

.logoutBtn:hover {
  background: rgb(255, 255, 255);
  transform: scale(1.08);
}

.logoutBtn:active {
  transform: scale(0.92);
}

.logoutBtn img {
  width: 40px;
  height: 40px;
  filter: brightness(0) saturate(100%) invert(17%) sepia(22%) saturate(900%) hue-rotate(230deg) brightness(90%) contrast(90%);
}

/* odtwarzacz muzyki */

.musicPlayerWrapper {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 300px;
  background: linear-gradient(243deg, #081935 0%, #31255B 72.18%, #65338A 99.99%);
  backdrop-filter: blur(0.1px);  /* to jest ważne żeby nie usuwać bo zepsuje playera XDDD */
  border-radius: 25px;
  padding: 1rem 1.2rem;
  box-shadow: 0 8px 20px rgba(0,0,0,0.35);
  font-family: 'BigShouldersDisplay';
  z-index: 9999;
  transition: height 0.3s ease, padding 0.3s ease;
}

.musicPlayerWrapper.collapsed {
  height: 50px;
  padding: 0;
  background: none; 
  box-shadow: none;
}

.musicPlayerWrapper.collapsed .togglePlayer {
  position: fixed;
  bottom: 20px;
  left: 20px;
  transform: none;
}
.musicPlayerWrapper.collapsed .musicPlayer,
.musicPlayerWrapper.collapsed .songInfo {
  display: none;
}

.songInfo {
  background: rgba(255, 255, 255, 0.678);
  border-radius: 15px;
  padding: 0.5rem 0.8rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #31255B;
  font-size: 2rem;
  letter-spacing: 1px;
}

.songNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.songNavigation button {
  width: 65px;
  height: 65px;
  background: rgba(255, 255, 255, 0.678);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

.songNavigation button:active {
  transform: scale(0.92);
}

.songNavigation button:hover {
  background: rgb(255, 255, 255);
  transform: scale(1.08);
}
.songNavigation img {
  width: 28px;
  height: 28px;
  filter: brightness(0) saturate(100%) invert(17%) sepia(22%) saturate(900%) hue-rotate(230deg) brightness(90%) contrast(90%);
}

.playStop {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playStop img {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.playSong {
  display: block;
}

.pauseSong {
  display: none;
}

.playing .playSong {
  display: none;
}

.playing .pauseSong {
  display: block;
}

.togglePlayer {
  position: absolute;
  left: -16px;  
  top: 20px;     
  transform: none;
  width: 32px;
  height: 32px;
  background: white;
  border: none;
  border-radius: 50%;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.2s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

.togglePlayer:hover {
  background: rgb(204, 204, 204);
}

/* Ustawienia */

.profileHeader .userName{
    font-size: 2.4rem;
    font-family: "BigShouldersDisplay";
}
.profileSettingsContainer {
    margin: 2rem 5rem;
    padding: 3rem;
    border-radius: 50px;
    background: rgba(217, 217, 217, 0.50);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255,255,255,0.25);
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.settings .button-link2 {
    font-size: 2rem;
}
.settingsContainer {
    margin: 0 0 0 20%;
    font-size: 1.6rem;
    color: #2F3147;
    font-family: "BigShouldersDisplay";
    display: grid;
    grid-template-columns: 250px 1fr;
    column-gap: 2rem;
    row-gap: 1.5rem;
}

.settingsContainer input {
    width: 50%;
    padding: 0.8rem 1rem;
    border-radius: 12px;
    border: none;
    font-size: 1.4rem;
    font-family: "BigShouldersDisplay";
    color: #2F3147;
    background: rgba(255,255,255,0.8);
    grid-column: 2;
}
.settingsContainer label {
    grid-column: 1;
    align-self: center;
    color: #2F3147;
    font-family: "BigShouldersDisplay";
    text-transform: uppercase;
}

.settingsContainer button {
  grid-column: 2;
    width: fit-content;
    padding: 0.6rem 1.4rem;
    border-radius: 12px;
    border: none;
    background: #fff;
    color: #2F3147;
    font-size: 1.4rem;
    cursor: pointer;
    transition: 0.2s;
    font-family: "BigShouldersDisplay";
    text-transform: uppercase;
}

.settingsContainer button:hover {
    transform: scale(1.05);
    color: #65338A;
}

.settingsContainer .button-link2 {
    grid-column: 1 / -1;
    margin-bottom: 1rem;
}

/* responsywność próba na innych urządzeniach */

@media (max-width: 768px) {

  .formContainer {
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
  }

  .input-wrapper input {
    width: 100%;
    font-size: 1.6rem;
  }

  .rightSection {
    margin: 2rem 0;
    padding: 0;
  }

  .imagePlaceholder {
    max-width: 300px;
    height: auto;
  }

  .title h1 {
    font-size: 4rem;
    letter-spacing: 4px;
  }

  .profileColumns {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .weeklyStatisticsContent,
  .monthlyStatisticsContent {
    width: 100%;
  }

  .todoListContent {
    width: 100%;
    height: 30rem;
  }

  .friendsList {
    width: 100%;
  }

  .navBar-wrapper {
    gap: 2rem;
  }

  .timerContainer {
    margin: 2rem;
  }
}
@media (max-width: 480px) {

  h2 {
    font-size: 2.4rem;
  }

  .input-wrapper input {
    font-size: 1.4rem;
    padding-left: 2.5rem;
  }

  .gradient-btn {
    width: 100%;
    height: auto;
    font-size: 1.8rem;
  }

  .taskName {
    width: 100%;
    font-size: 1.6rem;
  }

  .taskList p {
    font-size: 1.2rem;
  }

  .profileHeader {
    flex-direction: column;
    gap: 1rem;
  }

  .avatar img {
    width: 4rem;
  }

  .username {
    font-size: 1.6rem;
  }

  .navBtn {
    font-size: 1.4rem;
  }
}
